.header {
    background-color: #222;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 32px;
    padding-left: 16px;
    height: 36px;

}

.grid-container{
    display:flex;
}

.login-btn{
    background-color: #000;
    color: #fff;
    align-items: center;
    align-content: normal;
    justify-content:flex-start;
    align-self:flex-start;
    flex-direction:row;
}

.custom-btn{
    padding: 10px;
    border:none;
    margin-right: 10px;
    text-transform: uppercase;
    text-align: center;
    width: 80px;
    font-size: 1.0rem;
    cursor: pointer;
    outline: none;
}

.brand{
    background-color: #ff7f7f;
    height: 35px;
    animation: rotation 8s linear infinite;
    justify-content:flex-start;
    align-self:flex-start;
}

.book-btn-aTag{
    text-decoration: none;
}
/*header nav.header_container .brand {
    flex-flow: column nowrap;
    text-decoration: none!important;
}
header nav.header_container .header_segment {
    max-width: 250px;
}*/

    /*
    a, a * {
        color: inherit;
        display: flex;
        justify-content: center;
    }
    a {
        background-color: transparent;
        text-decoration: none;
    }    */
